*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    padding: 0 20px;
}
.header{
    margin: 20px;
}
main{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.createBtn{
    height: 100px;
    width: 30%;
    align-content: center;
    text-align: center;
    border: 2px black dashed;
    border-radius: 20px;
    margin-block: 20px;
}
.createBtn:hover{
    background-color: lightgrey;
}
section{
    border: 2px solid black;
    border-radius: 20px;
    height: min-content;
    padding:20px;
    display:grid;
    gap:16px 8px;
    grid-template-columns:1fr min-content 1fr min-content 1fr;
}
.boardHeader{
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    font-size:30px;
    grid-column:1/-1 ;
    gap:8px;
}

.boardHeaderTitle{
    max-width: 900px;
    word-wrap: break-word;
}
.editBoardBtn{
    grid-column: 2;
    width: 30px;
    height: 30px
}
.deleteBoardBtn{
    grid-column: 3;
    width: 30px;
    height: 30px;
}
.addTaskBtn{
    grid-column: 4;
    width: 100px;
}
 article:hover{
    background-color: aquamarine;
}
hr{
    border: none;
    width: 1px;
    background-color:black;
}
h2{
    text-align: center;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.addBoardForm,.addTaskForm{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 101;
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap:8px;
    position: fixed;
    align-self: center;
    justify-self: center;
    border:2px solid black;
    border-radius: 20px;
    background-color: aliceblue;
}
.hidden{
    display: none; 
}
.formButtons{
    display: flex;
    justify-content: space-between;
}
.Btn{
    width: 180px;
}
article{
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    gap:5px;
}
.deleteTaskBtn{
    width: 40px;
    height: 40px;
    grid-column: 3;
    grid-row: 1/3;
}
.editTaskBtn{
    width: 40px;
    height: 40px;
    grid-row: 1/3;
    grid-column: 2;
}
.taskDateTime{
    grid-row: 2;
}
.taskDescription{
    grid-row:3;
}