:root{
    --background:#b0d6fa;
    --text:#033E6B;
    --board:#66A3D2;
    --border:#033E6B;
    --btn:#0B61A4;
    --btn-background:#447BD4;
    --btn-text:#66A3D2;
}
.dark-theme{
    --background:#25567B;
    --text:#97caf1;
    --board:#033E6B;
    --border:#66A3D2;
    --btn:#0B61A4;
    --btn-background:#447BD4;
    --btn-text:#66A3D2;
}
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    background-color:var(--background) ;
    color:var(--text);
    height: 100%;
    padding: 0 20px;
    transition: color 1s ease,
    background-color 1s ease;
}
.header{
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.createBtn{
    height: 80px;
    width: 350px;
    max-width: 400px;
    align-content: center;
    text-align: center;
    margin-block: 20px;
    font-size: 1.7rem;
    font-weight: 600;
}

.boardHeader{
    display: grid;
    grid-template-columns: auto min-content 1fr min-content;
    font-size:30px;
    grid-column:1/-1 ;
    gap:8px;
}

.boardHeaderTitle{
    font-size:2.5rem;
    word-wrap: break-word;
    justify-items: center;
    display: flex;
    align-items: center;
}
.editBoardBtn{
    grid-column: 2;
    width: 40px;
    height: 40px;
    align-self: center;
}
.deleteBoardBtn{
    grid-column: 3;
    width: 40px;
    height: 40px;
    align-self: center;
}
.addTaskBtn{
    grid-column: -1;
    width: 150px;
    height: 50px; 
    font-weight:800 ;
}

hr{
    border: none;
    width: 1px;
    background-color:var(--border);
    transition:   background-color 1s ease;
}
h2{
    text-align: center;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.addBoardForm,.addTaskForm{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 101;
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap:8px;
    position: fixed;
    align-self: center;
    justify-self: center;
    border:2px solid var(--border);
    border-radius: 20px;
    background-color: var(--board);
}
.hidden{
    display: none; 
}
.formButtons{
    display: flex;
    justify-content: space-between;
}

.submitBoardBtn, .cancelBoardBtn, .submitTaskBtn, .cancelTaskBtn{
    width: 180px;
    height: 30px;
}
.task{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    gap:5px;
    word-wrap: break-word;
}
.task:hover{
    background-color: #3F92D2;
    border-radius: 10px;
}
input,textarea{
    color: #033E6B;
    padding: 5px;
    border:2px solid var(--border);
    border-radius: 5px;
    outline:none;
}
textarea{
    padding:0;
}
input:focus, textarea:focus{
    border-color: var(--border);
    box-shadow:0 0 2px 1px var(--border);
}
.deleteTaskBtn{
    width: 40px;
    height: 40px;
    grid-column: 3;
    grid-row: 1/3;
    opacity: 0;
}
.editTaskBtn{
    width: 40px;
    height: 40px;
    grid-row: 1/3;
    grid-column: 2;
    opacity: 0;
}
.taskDateTime{
    grid-row: 2;
}
.taskDescription{
    grid-row:3;
    grid-column: 1/-1;
}
.board{
    border: 2px solid var(--border);
    border-radius: 20px;
    height: min-content;
    padding:20px;
    display:grid;
    gap:16px 8px;
    grid-template-columns:1fr auto 1fr auto 1fr; 
    background-color: var(--board)	;
    transition: border-color 1s ease,
    background-color 1s ease;
}
.editTaskBtn, .addTaskBtn, .editBoardBtn, .deleteBoardBtn,.deleteTaskBtn,.createBtn, .submitBoardBtn, .cancelBoardBtn, .submitTaskBtn, .cancelTaskBtn{
    background-color: var(--btn-background);
    color:#033E6B;
    border-radius: 20px;
    border: 1px solid var(--border);
    transition: color 1s ease,
    background-color 1s ease
    color 1s ease;
    
}
.editTaskBtn:hover, .addTaskBtn:hover, .editBoardBtn:hover, .deleteBoardBtn:hover,.deleteTaskBtn:hover,.createBtn:hover,.submitBoardBtn:hover, .cancelBoardBtn:hover, .submitTaskBtn:hover, .cancelTaskBtn:hover,.switchModeBtn:hover{
    background-color: var(--btn);
    color:var(--btn-text)
}
.scheduledTasks, .tasksInProgress, .completedTasks{
    border-radius: 20px;
}
#darkModeIcon,#lightModeIcon{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: opacity 1s ease;
}
#darkModeIcon{
    opacity: 0;
}
.switchModeBtn{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border:1px solid var(--border);
    background-color: var(--board);
    color:var(--text);
    transition: color 1s ease,
    background-color 1s ease;
}

.task:hover .editTaskBtn, 
.task:hover .deleteTaskBtn {
  opacity: 1;
  border-color:var(--board)
}

@media (max-width: 1200px) {
    .editTaskBtn, .deleteTaskBtn {
        font-size: 5px;
        width: 35px;
        height: 35px;
        opacity: 1;
    }

}
@media (max-width: 800px) {
    body{
        font-size: 0.7rem;
    }
    .board{
        padding:20px;
        gap:16px 8px;
        grid-template-columns:1fr;
        overflow-x: auto
    }
    hr{
        height: 1px;
        width: auto;
    }
    .addTaskBtn{
        grid-row: 2;
        justify-self: end;
        width: 90px;
        height: 40px;
        font-weight: 800;
    }
    .boardHeaderTitle{
        grid-column: 1/-1;
        font-size:1.5rem;
    }
    .editBoardBtn{
        grid-column: -1;
        grid-row: 1;
        justify-self: end;
        margin-right: 50px;
        align-self: self-start;
    }
    .deleteBoardBtn{
        grid-column: -1;
        grid-row:1;
        justify-self: end;
         align-self: self-start;
    }
    h2{
        font-size: 1.2rem;
    }
    .createBtn{
        font-size: 1rem;
        width: 200px;
        height: 60px;
    }
}